.container-app{
    width: 100%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
background-color: #ffffff;
margin-bottom: 100px;

}

.dynamic-container{
overflow-y:auto ;
height:600px;

   
}

.titulo{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #0c235a;
    margin-bottom: 30px;
}



